:root{
  --raisin_black:#24280F;
  --desert_sand:#D8CFAF;
  --pale_gold:#E6B89C;
  --ruudy_pint:#ED9390;
  --cyclamen:#F374AE;
}
.na{
  background-color: var(--raisin_black) !important;

}
.slider-height{
  height: 50vh !important;
}
.nav, .navbar{
  color: #D8CFAF !important;
}
.user_icon{
  color: var(--desert_sand) !important;
}
